.App {
  text-align: center;
  max-width: 720px;
  margin: auto;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  background-color: white;
  padding: 60px 20px 20px 20px;
  font-size: 1.5rem;
  color: #42B650;
}
.App-header p {
  margin-bottom: 0.6rem;
}

.App-title {
  font-size: 1.5em;
}

@media all and (min-width: 600px) {
  .App-title p {
    display: inline;
    margin: 0 0.3rem;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.f-generated-text {
  margin-bottom: 1.6rem;
  text-align: left;
  color: #333;
}

.f-tags {
  margin: 1.5rem 0;
}

.btn.btn--ftag {
  display: block;
  width: 100%;
  margin: 0.8rem 0;
}

@media all and (min-width: 400px) {
  .f-tags {
    display: flex;
    justify-content: space-evenly;
  }
  .btn.btn--ftag {
    margin: 0 0.5rem;
    max-width: 250px;
  }
}
